<img height="170" width="1280" alt="Menu Logo" src="/assets/images/librarybaner.jpg">

<ul>
    <li><a href="https://www.poli.edu.co/content/estudiantes"> <img width="30" alt="User Logo" src="/assets/images/university.png"> Home</a></li>
    <li><a href="registerForm"> <img width="30" alt="User Logo" src="/assets/images/team.png"> Create User </a>
    </li>
    <li><a href="bookingForm"> <img width="30" alt="Booking Logo" src="/assets/images/booking.png"> Create Booking</a>
    </li>
    <li style="float:right"><a class="active" href=""> <img width="30" alt="Booking Logo" src="/assets/images/logout.png"> Logout</a></li>
</ul>
<div style="text-align:center">
    <img width="500" alt="Menu Logo" src="/assets/images/logopoli.png">
    <br>
</div>